# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY= a26c3a75dadfacc7b8a0102050b21dfe9bb24384c9561e0de47928d695122f41
APP_ENV=development

# Database Configuration
DB_HOST= mysql-22a8739d-soto-jingkatlene-activity4.e.aivencloud.com
DB_PORT= 14732
DB_USER= avnadmin
DB_PASSWORD= 
DB_NAME= utf8mb4
